.ul {
  display: flex;
  align-items: center;
  justify-content: center;
  .li {
    list-style: none;
    width: 10px;
    height: 60px;
    background: rgb(248, 116, 110);
    margin: 15px;
    border-radius: 5px;
    text-align: center;
  }
  @for $i from 1 through 6 {
    .li-#{$i} {
      animation: move 0.95s ease-in-out $i * 0.1s infinite;
    }
  }
}
@keyframes move {
  0% {
    // height:30px;
    transform: scaleY(1.2);
  }
  75% {
    transform: scaleY(0.7);
  }
  100% {
    transform: scaleY(1);
  }
}
